body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body > #root > div {
  font-size: 62.5%;
  height: 100%;
}

.todos__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos__card {
  width: 70%;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
}

.todos__card-footer {
  padding: 2%;
}

.btn-filter,
.btn-clear {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-filter.selected {
  border: 1px solid rgba(0, 0, 0, 0.316);
  border-radius: 10%;
}

.todos__card-filters {
  display: flex;
  margin: auto;
}
